.post-popup {
    width: 475px;
    height: 500px;
    text-align: center;
    background-color: #ffffff;
    margin: 150px auto;
    border-radius: 49px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    box-shadow: 5px 8px 20px rgb(41, 41, 41);
}

p {
    margin-bottom: -10px;
}

.post {
    width: 314px;
    height: 400px;
    border-radius: 23px;
    border-width: 1px;
    padding: 3px 0 3px 15px;
    margin: 25px 0 0 auto;
    outline:none;
}