@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
body {
    background-repeat: no-repeat;
    overflow-y: scroll;
    height: 100%;
}

.post-popup {
    position: relative;
    width: 800px;
    /* height: 1500px; */
    background-color: #ffffff;
    margin: 50px auto;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 25px 50px;
}


.display_name {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #f56324;
    font-size: 2em;
}

.time {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.body {
    padding: 50px 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}


.line {
    border-top: 1px solid #ccc;
    width: 100%;
}



.type {
    font-family: "Montserrat", sans-serif;
    /* font-weight: bold; */
    font-size: 1.2em;
    margin-top: 50px
}

form {
    padding: 0 0 25px 0;
    margin: 25px 0;
}

form > button {
    margin: 15px 0 0 25px;
    position: absolute;
    right: 50px;
}

.comment {
    margin: 15px 0;
    
    background-color: rgba(187, 187, 187, 0.062);
    padding: 25px 0 0 25px;
}

.comment-name {
    display: inline-block;
    vertical-align: middle;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.comment-time {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 15px;
    font-size: 14px;
}

.comment-body {
    padding-right: 25px;
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .post-popup {
        width: 600px;
    }
}

@media screen and (max-width: 576px) {
    .post-popup {
        width: 300px;
    }
    .display_name {
        font-size: 1.5em;
    }
    
    .time {
        font-size: 12px;
    }
    
    .body {
        padding: 20px 0;
        font-size: 14px;
    }
    .type {
        font-size: 1em;
        margin: 5px 0;
        margin-top: 15px;
    }
    form {
        padding: 0 0 15px 0;
        margin: 5px 0 20px 0;
    }

    form > button {
        font-size: .8em !important;
        width: 100% !important;
        position: relative;
        align-self: center;
        right: 23px;
    }
    .comment {
        margin: 5px 0;
    }
    .comment-name {
        font-size: 1em;
    }
    
    .comment-time {
        font-size: 12px;
    }
    
    .comment-body {
        font-size: 14px;
    }
}

@media screen and (max-width: 280px) {
    .post-popup {
        width: 200px
    }
}