
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- MDB -->
    <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.0.0/mdb.min.js"></script>
    {{ fontawesome_html() }}
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.0.0/mdb.min.css"
  rel="stylesheet"
/>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet"/>
    <title>{{ title }} - MaHeart </title>
</head>
<body>
    <nav>
        <div class="logo">
            <h4>Dailee</h4>
        </div>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <!-- <li><a href=#>Curhatan Top</a></li> -->
            {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('login') }}">Sign In</a></li>
            {% else %}
                <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#postModal">
                    Write Post</button>
                </li>
            {% endif %}
            <li><a href="#">About</a></li>
            
        </ul>


       <!-- Modal -->
<div class="modal" id="postModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle" style="color: black !important;">Write Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="{{ url_for('write') }}" method="POST">
                <div class="form-group">
                    <label  for="exampleFormControlTextarea1" style="color: black;">Your Story:</label>
                    <textarea name="post1" class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="255" minlength="1"></textarea>
                </div>
        </div>
        <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Post</button>
                </form>
                </div>
      </div>
    </div>
  </div>
  

        <div class="menu-toggle">
            <input type="checkbox">
            <span></span>
            <span></span>
            <span></span>
        </div>
        {% if current_user.is_anonymous %}
        <a class="signup" href="{{ url_for('signup') }}">Sign Up</a>
        {% else %}
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">{{ current_user.display_name }}<i class="dropbtn fas fa-chevron-down"></i></button>
            <div id="myDropdown" class="dropdown-content">
              <a href="{{ url_for('edit_profile') }}">Edit Profile</a>
              <a href="{{ url_for('logout') }}">Logout</a>
              <!-- <a href="#">Link 3</a> -->
            </div>
        </div>
        {% endif %}
    </nav>


    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    {% block content %}
    {% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</html>
