{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<div class="wrapper">
    {% for p in posts %}
    <div class="post">
        <h2>{{ p.timestamp|format_datetime('full') }}</h2>
        {% if p.author == current_user %}
            {% include "_dropdown.html" %}
        {% endif %}
        <div class="display-name">{{ p.author.display_name }}</div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <p class="text">
            {{ p.body }}
        </p>
        <span class="time">{{ p.timestamp|format_datetime() }}</span>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" id="btn1" class="btn btn-primary"><i class="fas fa-smile"></i></button>
            <!-- <button type="button" class="btn btn-primary">Middle</button> -->
            <button type="button" id="btn2" class="btn btn-primary"><i class="fas fa-frown-open"></i></button>
          </div>
        <div class="emote2">
            
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}