{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<div class="wrapper">
    <div class="post">
        <h2>Senin, 12-02-2020</h2>
        <div class="display-name">joshua1234</div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <p class="text">
            Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.
        </p>
        <span class="time">15:32</span>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" id="btn1" class="btn btn-primary"><i class="fas fa-smile"></i></button>
            <!-- <button type="button" class="btn btn-primary">Middle</button> -->
            <button type="button" id="btn2" class="btn btn-primary"><i class="fas fa-frown-open"></i></button>
          </div>
        <div class="emote2">
            
        </div>
    </div>

    <div class="post">
        <h2>Senin, 12-02-2020</h2>
        <div class="display-name">joshua1234</div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <p class="text">
            Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.
        </p>
        <span class="time">15:32</span>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" id="btn1" class="btn btn-primary"><i class="fas fa-smile"></i></button>
            <!-- <button type="button" class="btn btn-primary">Middle</button> -->
            <button type="button" id="btn2" class="btn btn-primary"><i class="fas fa-frown-open"></i></button>
          </div>
        <div class="emote2">
            
        </div>
    </div>
    <div class="post">
        <h2>Senin, 12-02-2020</h2>
        <div class="display-name">joshua1234</div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <p class="text">
            Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.
        </p>
        <span class="time">15:32</span>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" id="btn1" class="btn btn-primary"><i class="fas fa-smile"></i></button>
            <!-- <button type="button" class="btn btn-primary">Middle</button> -->
            <button type="button" id="btn2" class="btn btn-primary"><i class="fas fa-frown-open"></i></button>
          </div>
        <div class="emote2">
            
        </div>
    </div>
    <div class="post">
        <h2>Senin, 12-02-2020</h2>
        <div class="display-name">joshua1234</div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <p class="text">
            Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.
        </p>
        <span class="time">15:32</span>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" id="btn1" class="btn btn-primary"><i class="fas fa-smile"></i></button>
            <!-- <button type="button" class="btn btn-primary">Middle</button> -->
            <button type="button" id="btn2" class="btn btn-primary"><i class="fas fa-frown-open"></i></button>
          </div>
        <div class="emote2">
            
        </div>
    </div>
    <div class="post">
        <h2>Senin, 12-02-2020</h2>
        <div class="display-name">joshua1234</div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <p class="text">
            Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.
        </p>
        <span class="time">15:32</span>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" id="btn1" class="btn btn-primary"><i class="fas fa-smile"></i></button>
            <!-- <button type="button" class="btn btn-primary">Middle</button> -->
            <button type="button" id="btn2" class="btn btn-primary"><i class="fas fa-frown-open"></i></button>
          </div>
        <div class="emote2">
            
        </div>
    </div>
    <div class="post">
        <h2>Senin, 12-02-2020</h2>
        <div class="display-name">joshua1234</div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <p class="text">
            Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.
        </p>
        <span class="time">15:32</span>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" id="btn1" class="btn btn-primary"><i class="fas fa-smile"></i></button>
            <!-- <button type="button" class="btn btn-primary">Middle</button> -->
            <button type="button" id="btn2" class="btn btn-primary"><i class="fas fa-frown-open"></i></button>
          </div>
        <div class="emote2">
            
        </div>
    </div>
    <div class="post">
        <h2>Senin, 12-02-2020</h2>
        <div class="display-name">joshua1234</div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <p class="text">
            Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.
        </p>
        <span class="time">15:32</span>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" id="btn1" class="btn btn-primary"><i class="fas fa-smile"></i></button>
            <!-- <button type="button" class="btn btn-primary">Middle</button> -->
            <button type="button" id="btn2" class="btn btn-primary"><i class="fas fa-frown-open"></i></button>
          </div>
        <div class="emote2">
            
        </div>
    </div>
    <div class="post">
        <h2>Senin, 12-02-2020</h2>
        <div class="display-name">joshua1234</div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <p class="text">
            Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.
        </p>
        <span class="time">15:32</span>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" id="btn1" class="btn btn-primary"><i class="fas fa-smile"></i></button>
            <!-- <button type="button" class="btn btn-primary">Middle</button> -->
            <button type="button" id="btn2" class="btn btn-primary"><i class="fas fa-frown-open"></i></button>
          </div>
        <div class="emote2">
            
        </div>
    </div>
    <div class="post">
        <h2>Senin, 12-02-2020</h2>
        <div class="display-name">joshua1234</div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <div class="line123"/></div>
        <p class="text">
            Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.Hidup ini bagaikan sebuah
            perjalanan panjang yang akan
            berakhir.
        </p>
        <span class="time">15:32</span>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" id="btn1" class="btn btn-primary"><i class="fas fa-smile"></i></button>
            <!-- <button type="button" class="btn btn-primary">Middle</button> -->
            <button type="button" id="btn2" class="btn btn-primary"><i class="fas fa-frown-open"></i></button>
          </div>
        <div class="emote2">
            
        </div>
    </div>
</div>
{% endblock %}