{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href={{ url_for('static', filename='css/post.css') }}>
<div class="post-popup">
    {{ post.body }}
    <form action="{{ url_for('comment', id=post.id) }}" method="POST">
      <textarea required=required name="cmnt" class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="255" minlength="1"></textarea>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>
    {% if post.comments  %}
      {% for comment in post.comments %}
        <p>{{ comment.body }}</p>
      {% endfor %}
    {% endif %}

</div>
{% endblock %}

